<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Azure Active Directory values-->
    <add key="aad:RedirectUri" value="[Reply URL from you Azure Active Directory Native App]"/>
    <add key="aad:Authority" value="https://login.windows.net/common"/>
    <add key="aad:ClientId" value="[Your Azure Active Directory App Id]"/>
    <!-- Azure Analysis Services -->
    <add key="aad:ResourceUri" value="asazure://*.asazure.windows.net"/>
    <!-- End Azure Active Directory values-->
    <!-- Web API URL-->
    <add key="apiUrl" value="http://localhost:50117/api/values/?query="/>    
  </appSettings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>